/* -------------- */
/* Reset          */
/* -------------- */

/* https://andy-bell.co.uk/a-modern-css-reset/  */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
blockquote,
figure,
picture {
    margin: 0;
}

body {
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

textarea:focus, input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;

    }
}

/* -------------- */
/* Utilities      */
/* -------------- */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hide {
  display: none;
}

.vh-100 {
  height: 100vh;
}



/* -------------- */
/* Settings       */
/* -------------- */
body {
  font-family: sans-serif;
}

.app {
  min-height: 100vh;
}