/* -------------- */
/* Reset          */
/* -------------- */

/* https://andy-bell.co.uk/a-modern-css-reset/  */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
blockquote,
figure,
picture {
    margin: 0;
}

body {
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
}

textarea:focus, input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;

    }
}

/* -------------- */
/* Utilities      */
/* -------------- */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hide {
  display: none;
}

.vh-100 {
  height: 100vh;
}

.col-12 {
  width: 100%;
}

.col-



/* -------------- */
/* Site Settings  */
/* -------------- */
:root {
  /* site colors */
  --primary-clr: #0080C8;
  --secondary-clr: #F18700;
  --background-clr: #99CCE9;
  --light-clr: #909493;
  --dark-clr: #2C2C2C;
  --x-light-clr: #F8F8F8; 
}

html,
body {
    font-size: 1em !important;
    font-family: "Roboto", "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
    font-weight: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
}

.app {
  min-height: 100vh;
}

.main-header {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-clr);
}

.container {
  max-width: 1140px;
  margin-inline: auto;
  border: 1px solid var(--secondary-clr);
}

